// Footer Max-Width
@mixin footer-margin {
  @apply px-6 sm:px-10 lg:px-20 mx-auto;
  max-width: 1440px;
}

// Header Max-Width
@mixin header-margin {
  @apply lg:px-10 mx-auto md:pt-3;
  max-width: 1440px;
}

// Site Margin
@mixin site-margin {
  @apply px-6 sm:px-10 lg:px-16 xl:px-24 mx-auto;
  max-width: 1440px;
}

//MEDIA QUERY MANAGER
/*
0-640px: Phone
640 - 768px: Tablet portrait
768 - 1024px: Tablet landscape
1024 - px: Small desktop styles
$breakpoint arguments choices:
-sm
-md
-lg
-xl
1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == sm {
      @media (max-width: 40em) {
        //640px
        @content;
      }
    }
  
    @if $breakpoint == md {
      @media (max-width: 48em) {
        //768px
        @content;
      }
    }
  
    @if $breakpoint == lg {
      @media (max-width: 64em) {
        // 1024px
        @content;
      }
    }
  
    @if $breakpoint == xl {
      @media (max-width: 80em) {
        // 1280px
        @content;
      }
    }
    @if $breakpoint == 2xl {
      @media (max-width: 112.5em) {
        // 1800px
        @content;
      }
    }
    // @if $breakpoint == 2xl {
    @media (max-width: $breakpoint) {
      // 1800px
      @content;
      // }
    }
  }
  
