@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");




$primary-color: #1e40af;
$secondary-color: #FBF6EE;
$background-color: #FFFFFF; 
$text-color: #1e1f24;
$text-black: #000000;
$text-white: #FFFFFF;
$text-gray: #4B5563;

$font-main: "EB Garamond", serif;
$font-nav: "Open Sans", sans-serif;
$palatino: "EB Garamond", serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;


// $section-padding: 2rem;

// nav break point
$break-point-at-bigscreen: 640px;
$break-point-nav-lg: 868px;
$break-point-footer-lg: 985px;

$break-point-lg: 1024px;
