@use "base" as *;
@use "variables" as *;
@use "mixins" as *;

main {
  @include flex-wrapper;
  @include padding-desktop-home;
  transition: all 0.3s ease-in-out;

  .app-wrapper {
    position: relative;
    @include wrapper-container;
    gap: 40px;

    @media (min-width: $break-point-at-bigscreen) {
      gap: 80px;
    }

    .hero-section {
      @include flex-wrapper;
      flex-direction: column-reverse;
      gap: 40px;

      @media (min-width: $break-point-at-bigscreen) {
        flex-direction: column;
      }

      .topic-section {
        @include flex-wrapper;

        .topic-container {
          display: grid;
          grid-template-columns: 1fr; // mobile → 1 column
          gap: 20px;
          width: 100%;

          // Tablet & medium screens → 2 columns
          @media (min-width: $break-point-at-bigscreen) {
            grid-template-columns: repeat(2, 1fr);
          }

          // Large screens → 3 columns
          @media (min-width: 1024px) {
            padding-top: 35px;
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }

      /* ======
            HOMEPAGE SLIDER (SCSS VERSION)
            ===== */

      .wrap {
        @include flex-wrapper;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;

        @media (min-width: $break-point-at-bigscreen) {
          padding-top: 10px;
          gap: 25px;
        }

        .text-wrap {
          @include flex-wrapper;
          align-items: start !important;
          flex-direction: column;
          gap: 3.64px;
          // padding-top: 20px;

          @media (min-width: $break-point-at-bigscreen) {
            display: none;
          }

          h3 {
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
          }

          p {
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
          }
        }

        .home.swiper {
          width: 100%;
          height: 166px !important;
          position: relative;

          .slide-link {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
          }

          @media (min-width: $break-point-at-bigscreen) {
            height: 500px !important;
            .overlay {
              position: absolute;
              inset: 0;
              background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                #251d14 100%
              );
              z-index: 1;
            }
          }

          .swiper-wrapper {
            width: 100%;
            height: 100%;
          }

          .swiper-slide {
            position: relative;
            display: flex;
            align-items: center;
            align-items: flex-end;
            width: 100%;
            height: 100%;
          }

          .slide-bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;

            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              #251d14 100%
            ) !important;
            background-blend-mode: multiply;
          }

          .content {
            z-index: 10;
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 20px;
            padding-left: 50px;
            padding-right: 65px;
            max-width: 445px;

            // Tablet (override mobile)
            @media (min-width: 781px) {
              display: flex;
              padding-left: 70px;
              padding-right: 70px;
              max-width: 845px;
            }

            // Desktop large (override tablet)
            @media (min-width: 1440px) {
              padding-left: 150px;
              padding-right: 150px;
              max-width: 1000px;
            }

            h1 {
              text-transform: uppercase;
              letter-spacing: 0%;
              color: #fff;
              font-size: 18px;

              @media (min-width: $break-point-at-bigscreen) {
                font-size: 34px;
              }
              @media (min-width: 1024px) {
                font-size: 56px;
              }
            }

            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 12px;
              letter-spacing: 0%;
              display: none;
              color: #fff;

              @media (min-width: 781px) {
                display: flex;
                font-size: 16px;
                line-height: 24px;
              }
            }
          }

          .butts {
            span.next-btn,
            span.prev-btn {
              height: 100% !important;
              width: 24px !important;
              top: 2% !important;
              padding: 5px;
              color: #eee;
              font-size: 12px !important;
              font-weight: bold;
              border-radius: 3px;
              cursor: pointer;
              user-select: none;
              background: #251d14;
              transition: 0.5s;

              // Tablet & up
              @media (min-width: 781px) {
                padding: 8px;
                font-size: 14px !important;
              }

              // Desktop large
              @media (min-width: 1440px) {
                padding: 14px;
                font-size: 18px !important;
              }
            }

            .next-btn {
              right: 0 !important;
            }

            .prev-btn {
              left: 0 !important;
            }
          }
        }

        .swiper-pagination-bullet {
          border-radius: 0 !important;
          border: 2px solid #8e8585 !important;
          width: 40px !important;
          height: 10px !important;
          background: none;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          border-radius: 0 !important;
          border: 2px solid #8e8585 !important;
          width: 40px !important;
          height: 10px !important;
          background: #8e8585;
          opacity: 1;
        }
        .swiper-pagination {
          display: none;
          position: relative !important;
          top: 0;

          @media (min-width: $break-point-at-bigscreen) {
            display: flex;
            gap: 80px;
            justify-content: center;
          }
        }
      }
    }

    .trending-container {
      @include flex-wrapper;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 40px;

      .trend-cards {
        display: flex;
        justify-content: start;
        align-items: start;
        @include spacing-gap;

        .first-card {
          display: none;
          width: 100%;
          //   max-width: 563px;

          @media (min-width: $break-point-lg) {
            display: block !important;
            justify-content: start;
            align-items: start;
          }

          .card-container {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: 18px;
            width: 100%;
            overflow: hidden;

            @media (min-width: $break-point-at-bigscreen) {
              gap: 24px;
              flex-direction: column;
            }

            .card-img {
              @media (min-width: $break-point-at-bigscreen) {
                max-height: 832px;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .text-container {
              gap: 16px;
            }
          }
        }

        .second-card {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          @include spacing-gap;

          @media (min-width: $break-point-at-bigscreen) {
            flex-direction: column;
          }

          //   @media (min-width: $break-point-lg) {
          //     width: 100%;
          //   }

          & > :first-child {
            display: flex;
            flex-direction: column;
            width: 100%;
            @include spacing-gap;

            @media (min-width: $break-point-at-bigscreen) {
              flex-direction: row;
            }

            .card-1 {
              width: 100%;
            }
            .card-2 {
              width: 100%;

              @media (min-width: $break-point-at-bigscreen) {
                width: 70%;
              }
            }
          }
          & > :last-child {
            display: flex;
            flex-direction: column;
            width: 100%;
            @include spacing-gap;

            @media (min-width: $break-point-at-bigscreen) {
              flex-direction: row;
            }

            .card-1 {
              width: 100%;
            }
            .card-2 {
              width: 100%;
              max-height: 474px;
              @media (min-width: $break-point-at-bigscreen) {
                width: 70%;
              }
            }
          }
        }
      }
    }

    .popular-container {
      @include flex-wrapper;
      flex-direction: column;
      gap: 40px;
      overflow: hidden;
      margin-bottom: 40px;

      .popular-hero-link {
        width: 100%;
      }

      .image-background {
        position: relative;
        justify-content: start;
        align-items: end;
        width: 100%;

        @media (min-width: $break-point-at-bigscreen) {
          display: flex;
          height: 380px;
        }

        .text-container {
          position: absolute;
          left: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          width: 100%;
          padding: 50px;
          gap: 16px;

          .title {
            @include medium-text-popular;
            color: #ffffff;
            line-height: 100%;
            letter-spacing: 0%;
            text-transform: uppercase;
          }

          .discription {
            color: #ffffff;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            width: 100%;
            max-width: 658px;
          }

          .author {
            font-family: $font-nav !important;
            @include extra-small-text;
            line-height: 100%;
            letter-spacing: 0%;
            font-style: italic;
            color: #ffffff;
          }
        }
      }

      .popular-section {
        @include flex-wrapper;
        flex-direction: column;
        gap: 20px;

        // @media (min-width: $break-point-at-bigscreen) {
        //   display: none !important;
        // }

        .popular-cards {
          display: grid;
          grid-template-columns: 1fr; // mobile → 1 column
          gap: 20px;
          width: 100%;

          // Tablet & medium screens → 2 columns
          @media (min-width: $break-point-at-bigscreen) {
            grid-template-columns: repeat(2, 1fr);
          }

          // Large screens → 3 columns
          @media (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
          }
          // Large screens → 4 columns
          @media (min-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }

    // for the same cards
    .card-wrap {
      @include flex-wrapper;
      flex-direction: column;
      gap: 40px;
      // overflow: hidden;

      .card-section {
        @include flex-wrapper;
        flex-direction: column;
        gap: 20px;

        .cards-grid {
          display: grid;
          grid-template-columns: 1fr; // mobile → 1 column
          gap: 20px;
          width: 100%;

          // Tablet & medium screens → 2 columns
          @media (min-width: $break-point-at-bigscreen) {
            grid-template-columns: repeat(2, 1fr);
          }

          // Large screens → 3 columns
          @media (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
          }
          // Large screens → 4 columns
          @media (min-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }

    .cartoon-container {
      @include flex-wrapper;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 40px;
      width: 100%;

      .cartoon-cards {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
        @include spacing-gap;

        @media (min-width: $break-point-lg) {
            flex-direction: row;
          }

        .first-cartoon-card {
          display: none; // first image hidden on mobile
          width: 100%;
          //   max-width: 563px;

          @media (min-width: $break-point-lg) {
            display: block !important;
            justify-content: start;
            align-items: start;
          }

          .card-cartoon-container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 18px;
            width: 100%;

            overflow: hidden;

            @media (min-width: $break-point-at-bigscreen) {
              gap: 24px;
              flex-direction: column;
              height: 100%;
              height: 832px !important;
            }

            .card-img {
              @media (min-width: $break-point-at-bigscreen) {
                height: 100%;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .text-container {
              gap: 16px;
            }
          }
        }

        .second-card {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          @include spacing-gap;

          @media (min-width: $break-point-at-bigscreen) {
            flex-direction: column;
          }

          //   @media (min-width: $break-point-lg) {
          //     width: 100%;
          //   }

          .first-cartoon-child{
            display: flex;
            flex-direction: column;
            width: 100%;
            @include spacing-gap;

            @media (min-width: $break-point-at-bigscreen) {
              flex-direction: row;
            }

            .card-cartoon-container {
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              gap: 16px;
              width: 100%;
              height: auto;

              @media (min-width: $break-point-at-bigscreen) {
                gap: 24px;
                flex-direction: column;
                align-items: start;
              }

              .card-img {
                // max-height: 160px;
                max-height: 111px;
                min-width: 150px;
                width: 100%;
                overflow: hidden;

                @media (min-width: $break-point-at-bigscreen) {
                  max-height: 300px;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 8px;

                @media (min-width: $break-point-at-bigscreen) {
                  justify-content: start;
                  align-items: start;
                  gap: 20px;
                }

                .title {
                  @include small-text;
                  color: $text-black;
                  line-height: 18px;
                  letter-spacing: 0%;
                  text-transform: uppercase;
                  // max-width: 246px;

                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;

                  @media (min-width: $break-point-at-bigscreen) {
                    @include large-text;
                    display: block;
                    -webkit-line-clamp: unset;
                    -webkit-box-orient: unset;
                    overflow: visible;
                    white-space: normal;
                  }
                }

                .discription {
                  color: $text-black;
                  font-size: 16px;
                  line-height: 100%;
                  letter-spacing: 0%;

                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;

                  @media (min-width: $break-point-at-bigscreen) {
                    display: block;
                    -webkit-line-clamp: unset;
                    -webkit-box-orient: unset;
                    overflow: visible;
                    white-space: normal;
                  }
                }

                .author {
                  font-family: $font-nav !important;
                  @include extra-small-text;
                  line-height: 100%;
                  letter-spacing: 0%;
                  font-style: italic;
                }
              }
            }

            .card-1 {
              width: 100%;
              flex-direction: column !important;

              .card-img {
                max-height: 300px !important;
              }
            }
            .card-2 {
              flex-direction: column !important;
              width: 100%;

              @media (min-width: $break-point-at-bigscreen) {
                width: 70%;
              }

              .card-img {
                max-height: 300px !important;
              }
            }
          }
          // .last-cartoon-child{
          //   display: flex;
          //   flex-direction: column;
          //   width: 100%;
          //   @include spacing-gap;

          //   @media (min-width: $break-point-at-bigscreen) {
          //     flex-direction: row;
          //   }

          //   .card-1 {
          //     width: 100%;
          //     flex-direction: column !important;

          //     .card-img {
          //       max-height: 300px !important;
          //     }
          //   }
          //   .card-2 {
          //     flex-direction: column !important;
          //     width: 100%;
          //     max-height: 474px;
          //     @media (min-width: $break-point-at-bigscreen) {
          //       width: 70%;
          //     }

          //     .card-img {
          //       max-height: 300px !important;
          //     }
          //   }
          // }
        }
      }
    }

    .img-height {
      height: 195px !important;
      padding: 0px !important;
      width: 100%;

      @media (min-width: $break-point-nav-lg) {
        height: 400px !important;
      }
    }
  }
}
